<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>&quot;We need your consent to save your wishes&quot;</string>
	<key>UIAppFonts</key>
	<array>
		<string>NewYork.ttf</string>
		<string>NewYorkItalic.ttf</string>
		<string>NanumSquareNeo-aLt.ttf</string>
		<string>NanumSquareNeo-bRg.ttf</string>
		<string>NanumSquareNeo-cBd.ttf</string>
		<string>NanumSquareNeo-dEb.ttf</string>
		<string>NanumSquareNeo-eHv.ttf</string>
	</array>
</dict>
</plist>
